branches: ["main"]
tagFormat: ${version}
plugins:
  [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
  ]
publish:
  - path: "@semantic-release/github"
    assets:
      - path: "bin/x86_64-unknown-linux-gnu/replex"
        name: "x86_64-unknown-linux-gnu"
      - path: "bin/aarch64-unknown-linux-gnu/replex"
        name: "aarch64-unknown-linux-gnu"
