branches: ["main"]
tagFormat: ${version}
plugins:
  - -  "@semantic-release/commit-analyzer"
  - -  "@semantic-release/release-notes-generator"
  - -  "@semantic-release/github"
    - assets:
        - path: "bin/x86_64-unknown-linux-gnu/replex"
          label: "x86_64-unknown-linux-gnu"
        - path: "bin/aarch64-unknown-linux-gnu/replex"
          label: "x86_64-apple-darwin"
        - path: "bin/x86_64-apple-darwin/replex"
          label: "x86_64-apple-darwin"
        - path: "bin/aarch64-apple-darwin/replex"
          label: "aarch64-apple-darwin"
        - path: "bin/x86_64-pc-windows-msvc/replex"
          label: "x86_64-pc-windows-msvc"
