branches: ["main"]
tagFormat: ${version}
plugins:
  - -  "@semantic-release/commit-analyzer"
  - -  "@semantic-release/release-notes-generator"
  - -  "@semantic-release/github"
    - assets:
        - path: "assets/x86_64-unknown-linux-gnu.tar.gz"
          label: "x86_64-unknown-linux-gnu.tar.gz"
        - path: "assets/aarch64-unknown-linux-gnu.tar.gz"
          label: "x86_64-apple-darwin.tar.gz"
        - path: "assets/x86_64-apple-darwin.tar.gz"
          label: "x86_64-apple-darwin.tar.gz"
        - path: "assets/aarch64-apple-darwin.tar.gz"
          label: "aarch64-apple-darwin.tar.gz"
        - path: "assets/x86_64-pc-windows-msvc.7z"
          label: "x86_64-pc-windows-msvc.7z"
