name: CI

on:
  workflow_dispatch:
  pull_request:
    branches:
      - '*'

concurrency:
  group: ${{ github.head_ref || github.ref_name }}
  
  # If this is enabled it will cancel current running and start latest
  cancel-in-progress: true

jobs:
  # test:
  #   name: Test
  #   runs-on: ubuntu-20.04
  #   continue-on-error: false
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v3
  #     - name: Install Rust
  #       uses: dtolnay/rust-toolchain@stable
  #     - name: Run Tests
  #       run: make run-tests
  #       shell: bash

  build:
    name: Push docker build
    #runs-on: ubuntu-20.04
    runs-on: macos-latest
    # needs: [
    #    test,
    # ]
    env:
      HUSKY: 0
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      # - name: Set up QEMU
      #   uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.PERSONAL_TOKEN }}
      - id: docker-tag
        uses: yuya-takeyama/docker-tag-from-github-ref-action@v1
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: docker/Dockerfile
          # platforms: linux/amd64
          platforms: linux/arm64
          push: true 
          target: replex
          tags: | 
            ghcr.io/sarendsen/replex:${{ steps.docker-tag.outputs.tag }}
