name: "PR"

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize

permissions:
  pull-requests: read

concurrency:
  group: ${{ github.head_ref || github.ref_name }}
  
  # If this is enabled it will cancel current running and start latest
  cancel-in-progress: true

jobs:
  main:
    name: Validate PR title
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_TOKEN }}

  build:
    name: Build images
    runs-on: ubuntu-20.04
    env:
      HUSKY: 0
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: dtolnay/rust-toolchain@stable
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.PERSONAL_TOKEN }}
      - id: docker-tag
        uses: yuya-takeyama/docker-tag-from-github-ref-action@v1
      - name: Build
        run: cargo build --release
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Build images
        uses: docker/build-push-action@v4
        with:
          context: .
          file: docker/Dockerfile.github
          # platforms: linux/amd64
          platforms: linux/arm64,linux/amd64
          push: true 
          tags: | 
            ghcr.io/sarendsen/replex:${{ steps.docker-tag.outputs.tag }}
