name: Release

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'

concurrency:
  group: release
  
  # If this is enabled it will cancel current running and start latest
  cancel-in-progress: true

jobs:
  # test:
  #   name: Test
  #   runs-on: ubuntu-20.04
  #   continue-on-error: false
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v3
  #     - name: Install Rust
  #       uses: dtolnay/rust-toolchain@stable
  #     - name: Run Tests
  #       run: make run-tests
  #       shell: bash

  release:
    name: Tag and release latest version
    runs-on: ubuntu-20.04
    # needs: [
    #    test,
    # ]
    env:
      HUSKY: 0
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.PERSONAL_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: docker/Dockerfile
          platforms: linux/amd64,linux/arm64
          # platforms: linux/amd64
          push: true 
          target: replex
          tags: | 
            ghcr.io/sarendsen/replex:latest
